.dashboard {
    height: 100vh;
    display: flex;
    flex-direction: column;

}
.section{
    flex-grow: 1;
    overflow-y: auto;
    height: 100%;
}
.welcome {
    padding: 20px;
    font-family: Arial, sans-serif;
    color: white; 
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
        background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.dashboard {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.name-section {
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 90px;
    transform: translate(-40%,-10px); 
}

.description-section {
    font-size: 18px;
    line-height: 1.6;
    text-align: left;
    color: white; 
    width: 45%; 
    margin: 0 auto; 
    transform: translate(-40%, -40px); 
}
.button-section {
    margin-top: 20px;
    display: flex;
    gap: 20px; 
}

.contact-button, .profile-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: rgb(50, 50, 50);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-button:hover, .profile-button:hover {
    background-color: rgb(70, 70, 70);
}

.image-circle {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 4em;
    right: 4em;
    flex-shrink: 0;
    position: absolute;
    transform:rotate(0deg);
    filter: blur(2px);
    transform: scale(0.76);
    &:not(.dontAnimate){
        transition: all 0.8s ease;
    }
    &.active{
        transform: rotate(0) scale(1.5);
        filter: blur(0);
        z-index: 2;
        pointer-events: none;
    }
    &.passed{
        transform:rotate(145deg);
        filter: blur(4px);
        transform: scale(0.37);
    }
    &.hidden{
        transform:rotate(-140deg);
        display: block;
        filter: blur(70px);
        transform: scale(0.1);
    }
    &.previous{
        transform:rotate(-45deg);
        filter: blur(4px);
        transform: scale(0.25);

    }
}
.image-circle img {
    width: 100%;
    height: 100%;
    transform: translate(-135px, -135px);
    border-radius: 50%; 
    object-fit: cover; 
}




.navigation-buttons {
    position: absolute;
    bottom: 20px; 
    width:max-content;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    gap: 70px;
}

.navigation-buttons button {
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: rgb(50, 50, 50);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navigation-buttons button:hover {
    background-color: rgb(70, 70, 70);
}